streamlit
streamlit-aggrid
streamlit-option-menu
pandas
numpy
folium
geopy
matplotlib
scikit-learn
requests
osmnx
networkx
google-generativeai
google-genai
genai
PyPDF2
pypdf
chromadb
langchain-core
langchain-community
langchain-google-genai
xmltodict